/* *************************************** *
*
* Estílos base
* Contém:
*   html
*   a
*
* **************************************** */


html {
  width: 100%;

  color: $c-menu-a;
  font-size: $t-base-mobile;
  font-family: $f-body;
  line-height: 1.1;
  @media only screen and (min-width: $vp-large) {
    font-size: $t-base;
    line-height: 1.35;
  }
}

body {
  width: 100%;
}



a {
  color: $c-brand;
  text-decoration: none;
  &:hover {
    color: lighten($c-brand, 10%);
  }
}
