/* *************************************** *
*
*	Notícias layouts
* Contém:
*   .category-thumb
*
*
* **************************************** */

.category-thumb {
  margin-top: 1.8rem;

  text-align: center;
}

.post-meta {
  text-transform: uppercase;
}
